<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Create a form</h3>
    <form method="GET" action="/data">
      <input type="text" name="userName" placeholder="enter name" />
      <br /><br />
      <input type="text" name="email" placeholder="enter emailID" />
      <br /><br />
      <input type="password" name="password" placeholder="enter password" />
      <br /><br />
      <button>Submit</button>
    </form>
  </body>
</html>
